---
import Header from '../components/Header';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="bg-black h-screen p-4">
		<Header />
		<form id="team-parse">
			<label class="text-white" for="team">Team</label>
			<input type="text" id="team" name="team"><br><br>
			<button class="text-white" onclick="" form="team-parse" value="Submit">Submit</button>
		</form>
	</main>
</Layout>